<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>

</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <br>
        <% if (data) { %>
            <div class="alert alert-danger" role="alert" style="max-width: 300px; padding: 5px; padding-left: 3em;">
                <%= data %> 
            </div>
        <% } %>
        <form class="mb-4" method="post" action="/process_form">
            <div class="row">
                <div class="col-md-auto">                    
                    <div class="input-group-prepend mb-5" style="max-width: 300px;">
                        <select class="form-select" name="selection" aria-label="Programming Language Selection">
                            <option selected>Select Programming Language</option>
                            <option value="0">Python</option>
                            <option value="1">C</option>
                            <option value="2">Java</option>
                            <option value="3">C#</option>
                            <option value="4">Javascript</option>
                        </select>                    
                    </div>
                    <input type="submit" class="btn btn-outline-secondary" style="width: 200px; border-radius: 10   px;">                    
                </div>
            </div>           
        </form>
            
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>